exclude: 'docs/|ext/'

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-case-conflict
  - id: check-json
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
    types: [python]
  - id: trailing-whitespace

# isort → sorts imports consistently
- repo: https://github.com/pycqa/isort
  rev: 7.0.0
  hooks:
    - id: isort
      args: ["--profile", "black"]

 # ruff → formats code
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.3
  hooks:
    # Run the linter.
    - id: ruff-check
      types_or: [ python, pyi ]
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format
      types_or: [ python, pyi ]
      
# Autoflake → removes unused imports and vars
- repo: https://github.com/myint/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args:
        [
          "--in-place",
          "--remove-unused-variables",
          "--remove-all-unused-imports",
        ]